# **Python para análise de dados(Pandas)** - *Fernanda Santos*

In [2]:
#importando a biblioteca pandas
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DIO-UNIMED-DS/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
#Visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
df = df.rename(columns={"country":"País", "continent": "Continente", "year":"Ano", "lifeExp":"Exp Vida", "pop":"Pop Total", "gdpPercap": "PIB"})

In [6]:
df.head(10)

          País Continente   Ano  Exp Vida  Pop Total         PIB
0  Afghanistan       Asia  1952    28.801    8425333  779.445314
1  Afghanistan       Asia  1957    30.332    9240934  820.853030
2  Afghanistan       Asia  1962    31.997   10267083  853.100710
3  Afghanistan       Asia  1967    34.020   11537966  836.197138
4  Afghanistan       Asia  1972    36.088   13079460  739.981106
5  Afghanistan       Asia  1977    38.438   14880372  786.113360
6  Afghanistan       Asia  1982    39.854   12881816  978.011439
7  Afghanistan       Asia  1987    40.822   13867957  852.395945
8  Afghanistan       Asia  1992    41.674   16317921  649.341395
9  Afghanistan       Asia  1997    41.763   22227415  635.341351

In [7]:
#Total de linhas e colunas
df.shape

(3312, 6)

In [8]:
df.columns

Index(['País', 'Continente', 'Ano', 'Exp Vida', 'Pop Total', 'PIB'], dtype='object')

In [9]:
df.dtypes

País           object
Continente     object
Ano             int64
Exp Vida      float64
Pop Total       int64
PIB           float64
dtype: object

In [10]:
df.tail(5)

          País Continente   Ano  Exp Vida  Pop Total         PIB
3307  Zimbabwe     Africa  1987    62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992    60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997    46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002    39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007    43.487   12311143  469.709298

In [11]:
df.describe()

               Ano     Exp Vida     Pop Total            PIB
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165876
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [12]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [13]:
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

     País Continente   Ano  Exp Vida  Pop Total          PIB
975  Fiji    Oceania  1962    56.494     421869  2039.393277
976  Fiji    Oceania  1967    58.607     485000  2170.073285
977  Fiji    Oceania  1972    60.642     544000  2797.759484
978  Fiji    Oceania  1977    62.669     599339  3182.569600
979  Fiji    Oceania  1982    64.683     658906  3209.257468

In [14]:
Oceania["Continente"].unique()

array(['Oceania'], dtype=object)

In [15]:
df.groupby("Continente")["País"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: País, dtype: int64

In [16]:
df.groupby("Continente")["Exp Vida"].mean()

Continente
Africa      48.518682
Americas    65.789711
Asia        62.242752
Europe      72.721644
FSU         68.800279
Oceania     70.396622
Name: Exp Vida, dtype: float64

In [17]:
df.groupby("País")["Exp Vida"].mean()

País
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: Exp Vida, Length: 187, dtype: float64

In [18]:
df.groupby("Ano")["Exp Vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Exp Vida, dtype: float64

In [19]:
df["PIB"].mean()

11317.115804696648

In [20]:
df["PIB"].sum()

37482287.5451553

In [23]:
df.groupby("Continente")["PIB"].mean()

Continente
Africa       2138.088351
Americas     8979.564475
Asia        10070.908182
Europe      16551.177664
FSU          7903.069822
Oceania     13078.961304
Name: PIB, dtype: float64

In [24]:
df.groupby("País")["PIB"].mean()

País
Afghanistan            802.674598
Albania               3255.366633
Algeria               4426.025973
Angola                3607.100529
Argentina             8955.553783
                         ...
Vietnam               1017.712615
West Bank and Gaza    3759.996781
Yemen, Rep.           1569.274672
Zambia                1358.199409
Zimbabwe               635.858042
Name: PIB, Length: 187, dtype: float64

In [26]:
df.groupby("Ano")["PIB"].mean()

Ano
1950     5788.110310
1951     7166.681214
1952     3800.766586
1953     7285.913057
1954     7559.357116
1955     7906.255157
1956     8146.745638
1957     4358.649181
1958     8329.075477
1959     8637.004923
1960     9311.447138
1961     9657.449230
1962     4771.034659
1963    10302.720880
1964    10880.002666
1965    11009.436198
1966    11407.936949
1967     5640.614937
1968    12095.218086
1969    12717.193129
1970    13193.384595
1971    13653.770833
1972     7612.258069
1973    13910.290788
1974    15255.035599
1975    15174.660729
1976    15647.201655
1977     8410.910865
1978    16385.250063
1979    16882.201717
1980    17198.892959
1981    17323.687800
1982     8553.177670
1983    18293.203295
1984    18935.839670
1985    19371.587500
1986    19941.491785
1987     8799.155313
1988    21020.910260
1989    21583.937476
1990    19945.549401
1991    19894.172876
1992     8960.826471
1993    19541.867254
1994    19962.678837
1995    20389.866909
1996    20857.618679
1997     9769.397157
1998    22261.291074
1999    22965.892403
2000    23866.074105
2001    24237.995166
2002    10657.928831
2003    25046.668079
2004    25949.492592
2005    26509.633333
2006    27249.624396
2007    12403.126861
Name: PIB, dtype: float64